.places {
  margin-top: 20px;
}

.places h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.places h2 {
  font-size: 30px;
  text-align: center;
}
